.transactionHistory {
    width: 500px;
    margin-left: 15px;
    margin-top: 10px;
    border-collapse: collapse;
    padding: 9px;
    text-align: left;
    vertical-align: middle
  }
  
  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eee;
  }
  
  thead {
    background-color: lightgrey;
  }
  
  th, td {
    border: 1px solid black;
    padding: 6px;
  }
  
  thead th {
    width: 33.33%;
  }