.item {
    display: flex;
    flex-direction: column;
    min-width: 50px;
    background-color: lightgray;
    padding: 0;
    border: 1px solid grey;
    border-top: 2px solid grey;
    align-items: center;
  
  }
  
  .label {
    font-size: 12px;
  }
  
  .percentage {
    font-size: 14px;
    font-weight: bold;
  }